
html {
	background: #888;
	margin-left: 10%;
}

main {
	padding: 2%;
	background: #aaa;
	width: 76%;
}

header {
	padding: 2%;
	background: #888;
	color: #111;
}

footer {
	padding: 2%;
	color: #111;
}

td {
	border: 1px solid black;
	width: 150px;
}

img {
	margin: 1.25%;
	border: 2px solid black;
	padding: 1px;
	height: 150px;
	width: auto;
}

h2 {
	margin-left: 1%;
	color: #000;
}

h3 {
	margin-left: 2%;
	color: #100;
}

h4 {
	margin-left: 3%;
	color: #200;
}

.subtitle {
	margin-left: 3%;
}