

html {
	padding: 1% 5%;
	margin: 1%;
}

body {
	background: #245;
}

main {
	font-size: 1.1em;
}

div {
	margin: auto;
}

div.content {
	background: silver;
	color: black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 15px;
}

div.left-bar {
	color: #212;
	width: 13%;
	color: #EDD;
	padding-top: 9%;
	padding-left: 1%;
	padding-right: 1%;
}
div.top-bar {
	color: #EDD;
}
div.author {
	font-size: 1em;
	color: white;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

main {
	padding: 2%;
	background: silver;
}

header {
	background: #245;
	color: #EDD;
}

footer {
	color: #EDD;
}

td {
	border: 1px solid black;
	width: 150px;
}

img {
	margin: 1.25%;
	border: 2px solid black;
	padding: 1px;
	height: 150px;
	width: auto;
}

h2 {
	margin-left: 1%;
	color: #000;
}

h3 {
	margin-left: 2%;
	color: #100;
}

h4 {
	margin-left: 3%;
	color: #200;
}

.subtitle {
	margin-left: 3%;
}